.clients-icon {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  cursor: pointer;
  transition: border var(--animation-transform);

  .clients-icon__svg {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    transition: fill var(--animation-transform);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent-text-color);
  }

  &:hover .clients-icon__svg,
  &:focus .clients-icon__svg {
    fill: var(--accent-text-color);
  }
}
