.modal-user-agreement {
  display: flex;
  margin: auto;
  gap: 8.38px;
  width: 425px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid var(--logo-studioh-color);
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  transition: background-size var(--animation-transform),
    background-color var(--animation-transform), outline var(--animation-transform);
}

.modal-form-checkbox:checked {
  border: 2px solid var(--accent-text-color);
  background-color: var(--accent-text-color);
  background-size: 11px 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
}

.user-agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--second-text-color);
}
.user-condition-link {
  color: var(--accent-text-color);
}

.button-modal {
  @extend .button;
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: calc(30 / 16);
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
