.footer-icon__title {
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-icon__link--footer-bcg {
  @extend .social-icon__link;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}
.footer-icon__svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
  transition: fill var(--animation-transform);
}
